<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>
  
<p>
  <b>Active Threads:</b><br />
  <% @topics.each do | topic | %>
    <%= link_to topic.name, forum_topic_path(:forum_id => @forum, :id => topic) %> | Post Count: <%= Post.get_post_count(topic.id) %><br />
  <% end %>
</p>


<%= link_to 'New Topic', new_forum_topic_path(:forum_id => @forum) %> |
<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>

